*
{    
    box-sizing: border
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
.card-title {
    margin-left: 100px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #dddddd;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    transition-delay: all 0.2s ease-in-out;
    max-width: 100%;
    height: auto;

}